<div class="row row--align-stretch full-height">
    <nav class="container--secondary">
        <main-nav></main-nav>
    </nav>
    <main class="main-content">
        <router-outlet></router-outlet>
        <!-- <page>
            <div class="container" header>
                Home page
            </div>
            <div class="container" content>
                Some Content
            </div>
        </page> -->
    </main>
</div>