.page__header {
    position: relative;
}

.close-btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 1em;
    width: 1em;
    line-height: 1em;
    text-align: center;
    padding: 0.5em;
}