<div class="page full-height">
    <div class="column full-height">
        <div class="container--secondary column__el--fixed page__header">
            <ng-content select="[header]"></ng-content>
            <span class="action close-btn" (click)="closePage()">
                x
            </span>
        </div>
        <div class="container-primary column__el--flexible scrollable-y">
            <ng-content></ng-content>
        </div>
    </div>
</div>
<router-outlet></router-outlet>