<page>
    <div class="container" header>
        Heroes
    </div>
    <div class="container">
        <table class="hero-table" *ngIf="heroes">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hero of heroes | async" class="action" [routerLink]="[hero.id]" routerLinkActive="action--active">
                    <td class="id-column">{{ hero.id }}</td>
                    <td class="name-column">{{ hero.name }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</page>