@import '_variables.scss';

.container {
    padding: $size-gutter;

    &--primary {
        background-color: $palette-primary;
        color: $palette-secondary;
    }

    &--secondary {
        background-color: $palette-secondary;
        color: $palette-primary;
    }

    &--tertiary {
        background-color: $palette-tertiary;
        color: $palette-primary;
    }
}

.row {
    display: flex;

    &--align-stretch {
        align-items: stretch;
    }
}

.full-height {
    height: 100%;
}

.scrollable-x {
    overflow-x: auto;
}

.scrollable-y {
    overflow-y: auto;
}

.scrollable {
    @extend .scrollable-y;
    @extend .scrollable-x;
}

.action {
    cursor: pointer;
    
    @at-root span#{&} {
        display: inline-block;
    }
    
    &:hover, &--active {
        background-color: rgba(0, 0, 0, 0.05);
    }
}


.container--secondary {
    .action {  
        &:hover, &--active {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}

.main-content {
	white-space: nowrap;
    font-size: 0;
    overflow-x: auto;
    overflow-y: hidden;
}

.page {
    white-space: normal;
    font-size: $font-size;
    width: 30%;
    display: inline-block;
    border-right: 1px solid $palette-tertiary;

    &:first-child {
        border-left: 1px solid $palette-tertiary;
    }
}

.column {
    display: flex;
    flex-direction: column;

    &__el {
        &--fixed {
            flex: 0 0 auto;
        }
    
        &--flexible {
            flex: 1 1 100%;
        }
    }
}

.divider {
    border-bottom: 1px solid $palette-tertiary;
}
