@import '_variables.scss';

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: $font-family;
    font-size: $font-size;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}