<ul class="nav">
    <li class="nav__el action" routerLink="home" routerLinkActive="action--active">
        Home
    </li>
    <li class="nav__el action" routerLink="heroes" routerLinkActive="action--active">
        Heroes
    </li>
</ul>