<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - portal</title>
    <base href="~/" />
    <link rel="stylesheet" href="~/styles/main.css"/>
    @RenderSection("scripts", required: false)
</head>
<body>
    @RenderBody()    
</body>
</html>
