<page>
    <div class="container" header>
        Edit Hero
    </div>
    <div class="column full-height">
        <div class="divider column__el--fixed">
            <span class="action container" routerLink="weather" routerLinkActive="action--active">
                Weather
            </span>
        </div>
        <div class="divider container column__el--flexible scrollable-y">
            <ng-container *ngIf="hero">
                <label>
                    Name:
                    <input type="text" [(ngModel)]="hero.name" />
                </label>
            </ng-container>
        </div>
        <div class="column__el--fixed">
            <span class="action container" (click)="save()">
                Save
            </span>
        </div>
    </div>
</page>