@{
    ViewData["Title"] = "Home Page";
}

<app>Loading...</app>

@section scripts {
    <script src="~/js/node_modules/core-js/client/shim.min.js"></script>
    <script src="~/js/node_modules/systemjs/dist/system.src.js"></script>  
    <script src="~/js/node_modules/zone.js/dist/zone.js"></script>
    <script src="~/js/node_modules/zone.js/dist/long-stack-trace-zone.js"></script>
    <script src="~/js/node_modules/rxjs/rxjs.min.js"></script>
    <script src="~/js/system.config.js"></script>
    <script>
        System.import('/js/boot.js')
        .then(function (module) {
            module.boot();
        })
        .catch(function (err) {
            console.error(err);
        });
    </script>
}
